table {
  width: 100%;
}
.table-position {
  margin: 50px 200px;
}
a {
  border-radius: 5px;
}

.table-btn {
  background-color: rgb(248, 206, 129);
  border: 0px;
  border-radius: 5px;
  padding: 10px 20px;
  color: black;
  text-align: center;
  transition: 0.5s;
}

.table-btn:hover {
  background-color: rgb(190, 124, 0);
  color: white;
}
th {
  background-color: rgb(101, 67, 4);
  color: white;
}
tr:hover {
  background-color: rgb(160, 121, 49);
}
