.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card-content {
  width: 400px; /* You can adjust the width as needed */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.example-form {
  min-width: 1;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.buton-space {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.radio-btns {
  display: flex;
  justify-content: left;
  gap: 10px;
}
